[submodule ".config/emacs"]
	path = dot/.config/emacs
	url = https://github.com/syl20bnr/spacemacs
[submodule "dot/.urxvt/urxvt-new-window"]
	path = dot/.urxvt/urxvt-new-window
	url = https://github.com/qualiaa/urxvt-new-window
[submodule "dot/.urxvt/urxvt-config-reload"]
	path = dot/.urxvt/urxvt-config-reload
	url = https://github.com/qualiaa/urxvt-config-reload
[submodule "dot/.config/redshift/redshift-hooks"]
	path = dot/.config/redshift/redshift-hooks
	url = https://github.com/qualiaa/redshift-hooks
[submodule "dot/.vim/bundle/Vundle.vim"]
	path = dot/.vim/bundle/Vundle.vim
	url = git@github.com:VundleVim/Vundle.vim
