alias open='xdg-open'
alias zz='source $ZSHRC'
alias zshrc='vim $ZSHRC; zz'
alias rts='sed -i "s/ *$//"'
alias setbg='feh --bg-fill'
alias bell='echo -ne "\a"'

command -v jack_control >/dev/null && alias jack='jack_control'
command -v bluetoothctl >/dev/null && alias bluez="bluetoothctl"
#alias lime='haxelib run lime'
#alias flixel='haxelib run flixel-tools'
#alias idf='idf.py'

if command -v stack >/dev/null; then
    alias ghc='stack ghc --'
    alias ghci='stack ghci'
    alias runghc='stack runghc'
    alias runhaskell='stack runhaskell'
    alias ghcid='ghcid --command="stack ghci"'
fi

if [ -f /etc/debian_version ]; then
    alias pupdate='sudo apt update; sudo apt upgrade'
    alias pinstall='sudo apt install'
    alias psearch='apt search'
    alias puninstall='sudo apt remove'
elif command -v yay >/dev/null; then
    alias pupdate='yay -Syu'
    alias pinstall='yay -S'
    alias psearch='yay -Ss'
    alias puninstall='yay -Rs'
else
    alias pupdate='sudo pacman -Syu'
    alias pinstall='sudo pacman -S'
    alias psearch='sudo pacman -Ss'
    alias puninstall='sudo pacman -Rs'
fi
