command-exists() {
    command -v "$1" >/dev/null
}

alias zz='source $ZSHRC'
alias zshrc='vim $ZSHRC; zz'
alias setbg='feh --bg-fill'
alias bell='echo -ne "\a"'

alias timestamp='date +%Y-%m-%d_%H-%M-%S'

# For this section we don't need stdout
exec 3>&1 >/dev/null

# Docker aliases
if command-exists docker; then
    alias dat='docker attach'
    alias dcom='docker commit'
    alias dt='docker tag'
    alias dr='docker run'
    alias dR='docker run -it --rm'
    alias db='docker build'
    alias dp='docker push'
    alias dl='docker pull'
    alias ds='docker start'
    alias dS='docker save'
    alias dL='docker load'
    alias din='docker inspect'

    alias dc='docker container'
    alias dcl='docker container ls'
    alias dcla='docker container ls --all'
    alias dcs='docker container stop'
    alias dcp='docker container prune'
    alias dcrm='docker container rm'
    alias di='docker image'
    alias dil='docker image ls'
    alias dila='docker image ls --all'
    alias dip='docker image prune'
    alias dirm='docker image rm'
    alias dv='docker volume'
    alias dvl='docker volume ls'
fi


command-exists jack_control && alias jack='jack_control'
command-exists bluetoothctl && alias bluez="bluetoothctl"

# Haxe convenience aliases
if command-exists haxelib; then
    alias lime='haxelib run lime'
    alias flixel='haxelib run flixel-tools'
fi

# ESP32 dev board alias
[ -n $IDF_PATH ] && alias idf='idf.py'

# Haskell Stack convenience aliases
if command-exists stack; then
    alias ghc='stack ghc --'
    alias ghci='stack ghci'
    alias runghc='stack runghc'
    alias runhaskell='stack runhaskell'
    alias ghcid='ghcid --command="stack ghci"'
fi

# Unified package commands
if [ -f /etc/debian_version ]; then
    alias pupdate='sudo apt update; sudo apt upgrade'
    alias pinstall='sudo apt install'
    alias psearch='apt search'
    alias puninstall='sudo apt remove'
elif command-exists yay; then
    alias pupdate='yay -Syu'
    alias pinstall='yay -S'
    alias psearch='yay -Ss'
    alias puninstall='yay -Rs'
else
    alias pupdate='sudo pacman -Syu'
    alias pinstall='sudo pacman -S'
    alias psearch='sudo pacman -Ss'
    alias puninstall='sudo pacman -Rs'
fi

alias lg1='git log --graph --abbrev-commit --decorate --format=format:'\''%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'\'' --all'
alias lg2='git log --graph --abbrev-commit --decorate --format=format:'\''%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n'\'\'' %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'\'' --all'
alias lg='lg1'

exec >&3 3>&-
