### Home specific exports
export JAVA_HOME=/usr/lib/jvm/java-8-openjdk
# Espressif ESP32 toolchain
PATH=$HOME/usr/opt/xtensa-esp32-elf/bin:"$PATH"
# Espressif ESP32 devkit
export IDF_PATH=$HOME/usr/opt/esp-idf
PATH=$IDF_PATH/tools:"$PATH"
export ANDROID_HOME=/opt/android-sdk
export PLAYERGLOBALHOME=/opt/apache-flex-sdk/player



### General settings
[ -n $JAVA_HOME ]    && PATH="$JAVA_HOME/bin:$PATH"
[ -d ~/usr/bin ]     && PATH="$HOME/usr/bin:$PATH"
[ -d ~/bin ]         && PATH="$HOME/bin:$PATH"
[ -d ~/.local/bin ]  && PATH="$HOME/.local/bin:$PATH"
[ -d ~/.miniconda3 ] && PATH="$HOME/.miniconda3/bin:$PATH"
export PATH

export EDITOR=emacs
export BROWSER=xdg-open
export CC=gcc
export CXX=g++
export LC_COLLATE=C
export TERMINAL=urxvt
