### General settings
path_add() {
    [ -d "$1" ] && PATH="$1:$PATH"
}

[ -f "$HOME/.ghcup/env" ] && source "$HOME/.ghcup/env" # ghcup-env
path_add "$JAVA_HOME"
path_add "$HOME/usr/bin"
path_add "$HOME/bin"
path_add "$HOME/.local/bin"
path_add "/usr/local/cuda/bin"
path_add "$HOME/usr/opt/clion-2021.2/bin/"
path_add "$HOME/usr/opt/pycharm-2021.2/bin/"
export PATH

export EDITOR=vim
export BROWSER=xdg-open
export CC=gcc
export CXX=g++
export LC_COLLATE=C
export TERMINAL=urxvt
export TEXMFHOME="$HOME/.texmf"
