[ -f ~/.exports ] && source ~/.exports
[ -f ~/.Xresources ] && xrdb -merge ~/.Xresources

command -v numlockx >/dev/null && numlockx

[ -d ~/.wallpapers ] && feh --bg-fill --randomize ~/.wallpapers/* &

redshift -l51:-1 -t 6500:3000 &
numlockx &
nm-applet &
