[ -f ~/.exports ] && source ~/.exports
[ -f ~/.Xresources ] && xrdb -merge ~/.Xresources

command -v numlockx >/dev/null && numlockx

[ -d ~/.wallpapers ] && feh --bg-fill --randomize ~/.wallpapers/* &
